<div class="see_it_on display_none">
    <div class="see_it_on_model">
        <div class="sio_m_big_slider swiper">sio_m_big_slider</div>
        <div class="sio_m_small_slider swiper">sio_m_small_slider</div>
    </div>
    <div class="see_it_on_compare">
        <div class="sio_c_big_slider swiper">sio_c_big_slider</div>
        <div class="sio_c_small_slider swiper">sio_c_small_slider</div>
    </div>
    <div class="see_it_on_product_info">
        <p class="sio_title">{{product.title}}</p>
        <p class="sio_price">{{ product.price | money }}</p>
    </div>
</div>